* {
    box-sizing: border-box;
}

.avatar {
    max-width: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

body {
    background: url("img/_170579-82.jpg") no-repeat;
    background-size: cover; 
    background-repeat: repeat-y;
    font-family: 'Montserrat', sans-serif;
    color:rgb(78, 78, 78);
    
}

.carousel-inner{
    width:100%;
    
}

.desc {
    font-size: 16pt;
}

p {
    font-size: 30pt;
}
.title-index{
    color:rgba(102, 103, 105, 0.555);
    font-weight: 900;
}
.table{
    background-color: #97928ab4;
    color: #F5F1EA;
}
.btn{
    background-color: #8F8681;
    color: #F5F1EA;
    border-color: #8F8681;
}
.btn:hover{
    background-color: #68615e;
    color: #F5F1EA;
    border-color: #8F8681;
}
.film-title{
    font-weight: 900;
    color: #F5F1EA;
    font-size: large;
}
.page-link{
    background-color: #8F8681;
    color: #F5F1EA;
    border-color: #8F8681;

}
.page-link:hover{
    background-color: #68615e;
    color: #F5F1EA;
    border-color: #8F8681;

}

