{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}

<h1 class="title-index my-5">В прокате</h1>

<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Введите название фильма" name="search" id="search">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="search_btn">Поиск</button>
  </div>
</form>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Год производства</th>
    </tr>
  </thead>
  <tbody>
    {% for film in films %}
    <tr>
      <td class="film-title">{{ film.title }}</td>
      <td>{{ film.description }}</td>
      <td>{{ film.production_year }}</td>
      <td>
        <div class="btn-group"> 
          <a class="btn btn-primary" href="{{ url_for('show_film', film_id=film.id) }}">Посмотреть</a>
          {% if current_user.is_authenticated and current_user.can('edit') %}
          <a class="btn btn-secondary" href="{{ url_for('edit_film', film_id=film.id) }}">Редактировать</a>
          {% if current_user.can('delete') %}
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-film-modal" data-url="{{ url_for('delete_film', film_id=film.id) }}">
            Удалить
          </button>
          {% endif %}
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{{ render_pagination(request.endpoint, pagination_info) }}

{% if current_user.is_authenticated and current_user.can('new') %}
<a class="btn btn-primary mb-3" href="{{ url_for('new_film') }}">Добавить</a>
{% endif %}

{% if current_user.is_authenticated and current_user.can('delete') %}
<div class="modal " tabindex="-1" role="dialog" id="delete-film-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Удалить фильм</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p >Вы действительно хотите удалить "<span id="film-title"></span>"?</p>
        <form action="" method="POST" class="d-none">
          <input id="delete-btn"  type="submit">
        </form>
      </div>
      <div class="modal-footer">
        <label for="delete-btn" class="btn btn-danger cursor-pointer">Да</label>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}