{% extends 'base.html' %}

{% block content %}

<h1 class="my-5">Информация о фильме</h1>

<table class="table mt-3">
    <tbody>
        <tr>
            <td>Название</td>
            <td>{{ film.title }}</td>
        </tr>
        <tr>
            <td>Описание</td>
            <td>{{ film.description }}</td>
        </tr>
        <tr>
            <td>Жанр</td>
            <td>{{ types.type_name }}</td>
        </tr>
        <tr>
            <td>Год производства</td>
            <td>{{ film.production_year }}</td>
        </tr>
        <tr>
            <td>Страна</td>
            <td>{{ film.country }}</td>
        </tr>
        <tr>
            <td>Продюсеры</td>
            <td>{{ film.producer }}</td>
        </tr>
        <tr>
            <td>Сценаристы</td>
            <td>{{ film.scenarist }}</td>
        </tr>
        <tr>
            <td>Актеры</td>
            <td>{{ film.actors }}</td>
        </tr>
        <tr>
            <td>Продолжительность (в минутах) </td>
            <td>{{ film.time_in_m }}</td>
        </tr>
    </tbody>
</table>





{% endblock %}