{% extends 'base.html' %}

{% block content %}

    <h1 class="title-index mt-5" id="rental">Сейчас на экранах</h1>
    <div id="carouselExampleIndicators" class="carousel slide mt-5 mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="http://web-2020-2-exam.std-1203.ist.mospolytech.ru/films/19/show">
            <img class="d-block w-100 " src="static/img/godzila.jpeg" alt="Первый слайд">
            <div class="carousel-caption d-none d-md-block">
                <h3>Годзила против Конга</h3>
                <p class="desc">Когда в наш мир явится новая угроза, два мифических монстра сойдутся в захватывающем поединке. </p>
            </div>
          </div>
          <div class="carousel-item">
            <a href="http://web-2020-2-exam.std-1203.ist.mospolytech.ru/films/3/show">
            <img class="d-block w-100" src="static/img/palma.jpg" alt="Второй слайд">
            <div class="carousel-caption d-none d-md-block">
                <h3>Пальма</h3>
                <p class="desc">1977 год. Игорь Польский улетает за границу и вынужден оставить свою овчарку по кличке Пальма прямо на взлетной полосе: по недоразумению у собаки нет медицинской справки. </p>
            </div>
            
          </div>
          <div class="carousel-item">
            <a href="http://web-2020-2-exam.std-1203.ist.mospolytech.ru/films/20/show">
            <img class="d-block w-100" src="static/img/haos.jpg" alt="Третий слайд">
            <div class="carousel-caption d-none d-md-block">
                <h3>Поступь хаоса</h3>
                <p class="desc">Недалекое будущее. Тодд обнаруживает Виолу, загадочную девушку, потерпевшую крушение на его родной планете, где женщины давно исчезли, а все мужчины страдают от вируса</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
    



{% endblock %}