{% extends 'base.html' %}

{% block content %}

<form method="POST" class="w-50 mx-auto mt-5">
    <div class="form-group row">
        <label for="login" class="col-sm-2 col-form-label">Логин</label>
        <input class="form-control col-sm-10" type="text" id="login" name="login" autocomplete="off">
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Пароль</label>
        <input class="form-control col-sm-10" type="password" id="password" name="password">
    </div>
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="form-check col-sm-10">
            <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
            <label class="form-check-label" for="remember_me">Запомнить меня</label>
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Вход</button>
    </div>
</form>

{% endblock %}