{% macro render_pagination(endpoint, pagination_info) %}

{% set page = pagination_info.current_page %}
{% set total_pages = pagination_info.total_pages %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mb-5">
        <li class="page-item">
            <a class="page-link {% if page == 1 %}disabled{%  endif %}" href="{{ url_for(endpoint, page=page - 1) }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Предыдущая</span>
            </a>
        </li>
        {% set start = page - 3 if page - 3 > 0 else 1 %}
        {% set end = page + 3 if page + 3 <= total_pages else total_pages %}
        {% for page_num in range(start, end + 1) %}
        <li class="page-item"><a class="page-link {% if page_num == page %}active{% endif %}" href="{{ url_for(endpoint, page=page_num) }}">{{ page_num }}</a></li>
        {% endfor %}
        <li class="page-item">
            <a class="page-link {% if page + 1 == total_pages %}disabled{%  endif %}" href="{{ url_for(endpoint, page=page + 1) }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Следующая</span>
            </a>
        </li>
    </ul>
</nav>

{% endmacro %}